[Unit]
Description=PowerScale Data Insights - Partitioned Performance Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/goppstats -config-file /etc/powerscale-data-insights/goppstats.toml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
User=pdi
Group=pdi

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/log/powerscale-data-insights

[Install]
WantedBy=multi-user.target
